body, html {
  padding: 0px;
  margin: 0;
  background-color: #F1F1F1;
  color: #FFF;
  position: relative;
}
ul{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	width: 100%;
	margin-top: 30px;
}
.videolist{
	padding-top: 20px;
	position: absolute;
	display: block;
    float: left;
    width: 100%;
    min-height: 100%;
    /*transition: .1s linear all;*/
}
.videolist .li{
	/*transition: outline 0.2s;*/
}
.videolist .li.active{
	outline:5px solid #EACA2D;
}
.playlist{
	/*transition: .1s linear all;*/
	z-index: 0;
	top: 20px;
	position: absolute;
}
.playlist p, 
.playlist img,
.videolist .li{
	display: inline-block;
}
.playlist img{
	margin-right: 20px;
}
.playlist li{
	box-sizing: content-box;
  	padding: 10px 20px;
	cursor: pointer;
	margin-bottom: 20px;
	background-color: #FFF;
}

.videolist .li{
	/*max-width: 33%;*/
	margin-bottom: 20px;
	text-align: center;
	height: auto;
	vertical-align: bottom;
}
.scale {
   /*transition: transform 0.2s; */
}
.scale:hover,
.scale:focus,{
  transform: scale(1.1);
}
.border{
	/*transition: outline 0.2s;*/
}
.border:hover,
.border:focus,
li.active{
	outline:5px solid #EACA2D;
}
.left-part{
	position: relative;
	z-index: 9999;
	height: 100%;
	background-color: #f1f1f1;
}

.right-part{
	color: #666;
	border-left: 1px solid #e8e8e8;
}
.right-part{
	min-height: 100vh;
}
.logo {
	color: #605e5e;
	font-size: 3em;
}
.logo span:last-child{
	color: #ff0000;
}
#pl-name{
	color: #605e5e;
	font-size: 3em;
}
.pos-fixed{
	position: fixed;
}
#leftCol{
	display: block;
	position: relative;
}
#rightCol{
	display: block;
	position: relative;
}
.logo-wrap{
	position: relative;
	z-index: 999;
	background-color: #F1F1F1;
	padding-left: 15px;
}
